/* 整體樣式 */

:root {
  --rose-700: #a98467;
  --rose-400: #adc178;
  --rose-300: #dde5b6;
  --rose-light: #f0ead2;
  --black: #6c584c;
}
body {
      font-family: 'Roboto', sans-serif;
      color: var(--black);
      font-weight: 500;
      font-size: 1.2rem;
    }
/* 按鈕樣式 */
   .btn {
    color: var(--black);
    border-radius: 0.625rem;
    width: 40%;
    margin:0 0.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    transform: translateY()0.3s ease-out;
    }
    .detail{
      background-color: var(--rose-400);
      border: none;    
    }
    .demo{
      border-color:var(--rose-400);
    }
    .btn:hover{
      color: var(--black);
      background-color: var(--rose-400);
      border-color: var(--rose-400);
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      transform: translateY(-5px);
    }
/* 連結樣式 */
     a {
       opacity: 1;
       z-index: 2;
      transition: color 0.3s ease-out;
     }
     a:hover{
      color: var(--rose-700);
     }
     i {
      font-size: 2.5rem;
      opacity: 1;
      transition: color 0.3s ease-out;
      z-index: 2;
      }
     i:hover{
      color: var(--rose-700);
     }
     .skill-section-item:hover{
      color: var(--rose-700);
     }

/* li樣式 */
ul{
  margin-left: -2.5rem;
}
li{
  list-style:none;
}
/* Navbar樣式   */
    .navbar {
      background-color: var(--black);
      box-shadow: 2px 2px 2px var(--rose-700);
      position: fixed;
      width: 100%;
      z-index: 10;
    }
  
    .navbar-brand,
    .nav-link {
      color: var(--rose-light) !important;
      font-weight: 700;
      font-size: 1.25rem;
    }
    .navbar-brand:hover,
    .nav-link:hover {
      color: var(--rose-400) !important;
    }
/* 各區塊主要樣式 */
  .section {
      height: 100vh;
      padding: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #contact{
      padding: 1vh;
      height: 60vh;
    }
    #about{
       height: 60vh;
      }
    #greeting,
    #resume,
    #skill
    {
      position: relative;
      background-size: cover;
    }
    #greeting{
      background-image: url('./assets/img/background-1.jpg');
    }

    #resume{
      background-image: url('./assets/img/background-2.jpg');
    }
    #skill{
    background-image: url('./assets/img/background-3.jpg');
    }
        #greeting::before,
        #resume::before,
        #skill::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--rose-light);
          opacity: 0.7;
        }

    #about,
    #works,
    #contact{
      background-color: var(--rose-light);
      background-size: cover;
    }
    .greeting-section-title,
    .project-section-title,
    .skill-section-title,
    .about-section-title,
    .resume-section-title,
    .contact-section-title{
      font-size: 2.5rem;
      text-align: center;
      font-weight: 700;
    }
    /* 各區塊細部樣式 */
    /* greeting */
                
    .greeting-section-content {
      font-size: 1.5rem;
    }
    /* about */
    .about-section-content{
      align-items: center;
    }
    .about-section-info ,
    .about-contact-container{
      flex-direction: column;
    }
  .img-container{
    transition: opacity 0.3s ease-out;
    }
  .img-container:hover{
    opacity: 0.35;
  }

  .skill-section-content {
      margin-top: 10px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .skill-section-item {
    display: flex;
    height: 18rem;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease-out;
    border-radius: 0.3125rem;
    margin:1.5rem;
    padding:2rem 1rem 0 1rem;
    background-color: var(--rose-light);
    opacity: 0.9;
    box-shadow: 4px 4px 4px var(--black);
    }
    .skill-section-item:hover{
      transform: scale(1.05) translateY(-1rem);
    }
    .section-skill-item{
      font-size: 1rem;
    }


    .project-img {
     width: 100%;
     height: 100%;
    }

    .project-2-img {
       width: 100%;
       height: 100%;
      }

            .img-top-container,
            .img-bot-container {
              position: relative;
              width: 100%;
              overflow: hidden;
            }
      .img-top-container::after,
      .img-bot-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
        }

      .img-top-container:hover::after,
      .img-bot-container:hover::after {
        opacity: 1;
      }

.img-top-container:hover .project-img,
.img-bot-container:hover .project-2-img {
  opacity: 0;
}

        .img-top-container::after {
          background-image: url('./assets/img/homepage-hover.png');
        }
       .img-bot-container::after {
            background-image: url('./assets/img/pages-mb-hover.png');
       }
    .section-right-content {
          display: flex;
          flex-direction: column;
        }
      .button-container{
        display: flex;
        align-items: center;
        justify-content: center;
      }

    .section-info{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .resume-section-content{
          position: relative;
        }
    .resume-section-content:before{
      content:'';
      height:100%;
      width: 0.2rem;
      position: absolute;
      background-color: var(--black);
    }
    .section-exp-item {
      flex-direction: column;
      position: relative;
      padding-left: 3rem;
      margin-bottom: 1.5rem;
      }   
    .section-exp-item:before {
      content: "";
      position: absolute;
      top: 0.5%;
      left: -13px;
      width: 30px;
      height: 30px;
      border: var(--rose-light) solid 0.5rem;
      background-color: var(--black);
      transition:background-color 0.3s ease ,rotate 0.5s ease;
    }
    .section-exp-item:hover:before {
      background-color: var(--rose-400);
      transform: rotate(45deg);
   }
   .section-exp-item-title{
    font-weight: 700;
    font-size: 1.5rem;
   }
   .resume-time{
    background-color: var(--black);
    color: var(--rose-light);
    width: 12rem;
    height: 2rem;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
  }
    .resume-time:hover{
    background-color: var(--rose-400);
    }

    .section-description{
      padding-left: 1rem;
    }
    /* contact */
    .city,
    .birthday,
    .mobile {
      width: 100%;
      align-items: center;
      
      }
    .contact-link-icon{
      justify-content: center;
      flex-wrap: wrap;
    }  
    .contact-link-icon-item{
      margin: 0.5rem;
      width: 10rem;
      height: 10rem;
      background-color: var(--rose-300);
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .contact-link-icon-item:hover{
      background-color: var(--black);
      opacity: 0.5;
    }
        .contact-info {
          display: none;
          position: absolute;
          top: 10%;
          left: 0;
          color:var(--rose-light);
          padding: 5px 10px;
          z-index: 3;
          font-size: 0.95rem;
          
        }
    
    .contact-link-icon-item:hover .contact-info {
      display: flex;
            align-items: center;
              justify-content: center;

    }
         

    .item{
      color: var(--black);
      font-size: 4rem;
    }

    footer{
      background-color: var(--black);
    }

    .footer-text{
        color: var(--rose-light);
    }

        @media screen and (max-width:480px) {
          .section-skill-item {
            display: none
          }
          .section-description{
            display: none;
          }
    
          .skill-section-item {
            height: 100%;
            flex-direction: row;
            margin: 0.5rem;
          }
          .section-exp-item-title{
            font-size: 1.25rem;
           }
            .section-exp-description{
              font-size: 0.9rem;
            }

          .img-bot-container{
                      display: none;
          }
          .section-title-about{
            margin-top: 1rem;
          }
                            #contact {
                              height: 40vh;
                            }
          .contact-link-icon-item{
            width: 5rem;
            height: 5rem;
          }
          .item {
          font-size: 3rem;
          }
        }

